In [37]:
import pandas as pd
import numpy as np
data = pd.read_csv('usedcars.csv')

In [100]:
data.shape

(150, 5)

In [101]:
data.head()

       year model     price   mileage transmission
0  1.036340   SEL  2.901640 -1.370208         AUTO
1  1.036340   SEL  2.581273 -1.239574         AUTO
2  1.036340   SEL  2.259942 -1.372513         AUTO
3  1.036340   SEL  1.557513 -1.214028         AUTO
4  1.492208    SE  1.458221 -1.334733         AUTO

In [150]:
#data = data.drop('color', axis=1)

In [103]:
data.columns

Index(['year', 'model', 'price', 'mileage', 'transmission'], dtype='object')

In [104]:
data['model'].unique()

array(['SEL', 'SE', 'SES'], dtype=object)

In [106]:
X = data.drop('transmission', axis=1)
y = data['transmission']

In [107]:
X.columns

Index(['year', 'model', 'price', 'mileage'], dtype='object')

In [108]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()

In [109]:
Numeric_feature = ['year', 'price', 'mileage']
#Numeric_feature = data[Numeric_feature]

In [111]:
Numeric_feature

['year', 'price', 'mileage']

### Scale down the Numeric column Value

In [110]:
import warnings

In [112]:
SS.fit(data[Numeric_feature])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [113]:
data[Numeric_feature] = SS.transform(data[Numeric_feature])

In [115]:
data[Numeric_feature].head()

       year     price   mileage
0  1.036340  2.901640 -1.370208
1  1.036340  2.581273 -1.239574
2  1.036340  2.259942 -1.372513
3  1.036340  1.557513 -1.214028
4  1.492208  1.458221 -1.334733

In [116]:
print(type(numeric_feature))

<class 'list'>

In [117]:
print(type(data[numeric_feature]))

<class 'pandas.core.frame.DataFrame'>

In [123]:
Numeric_feature = data[numeric_feature]
print(type(Numeric_feature))

<class 'pandas.core.frame.DataFrame'>

In [124]:
Numeric_feature.head()

       year     price   mileage
0  1.036340  2.901640 -1.370208
1  1.036340  2.581273 -1.239574
2  1.036340  2.259942 -1.372513
3  1.036340  1.557513 -1.214028
4  1.492208  1.458221 -1.334733

### Transform the Categorica value to the Numeric Format

In [125]:
model = pd.get_dummies(X['model'])

In [126]:
model.head()

   SE  SEL  SES
0   0    1    0
1   0    1    0
2   0    1    0
3   0    1    0
4   1    0    0

In [127]:
print(type(model))

<class 'pandas.core.frame.DataFrame'>

### Concat All The Traning Features

In [128]:
print(type(X))
print(type(Numeric_feature))
print(type(model))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [129]:
X.columns

Index(['year', 'model', 'price', 'mileage'], dtype='object')

In [131]:
X = X.drop(['year','price','model','mileage'],axis=1)

In [133]:
#X

In [134]:
X = pd.concat([X, Numeric_feature, model], axis=1)

In [135]:
X.head()

       year     price   mileage  SE  SEL  SES
0  1.036340  2.901640 -1.370208   0    1    0
1  1.036340  2.581273 -1.239574   0    1    0
2  1.036340  2.259942 -1.372513   0    1    0
3  1.036340  1.557513 -1.214028   0    1    0
4  1.492208  1.458221 -1.334733   1    0    0

In [136]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.25, random_state = 1)

In [137]:
from sklearn.linear_model import LogisticRegression

ls = LogisticRegression()

ls.fit(X_train,y_train)

C:\Users\hoshangk\AppData\Local\Continuum\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [147]:
y_predict = ls.predict(X_test)

In [149]:
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score

print("Confusion Matrix-", float(accuracy_score(y_test, y_predict))*100)

Confusion Matrix- 81.57894736842105